<div class="overlay" [ngClass]="{'active':formDeleteActive}" (click)="close()"></div>
<div class="card popup" [ngClass]="{'active':formDeleteActive}">
    <div class="card-header">Are you sure you want to archive this user?</div>
    <div class="card-body">
        <button class="btn btn-default float-left" (click)="close()">Cancel</button>
        <button class="btn btn-danger float-right"(click)="delete(userId)">Archive</button>
    </div>
</div>

<div class="response  bg-success" [ngClass]="{'response-active':responseActive}">
    <p  *ngIf="response">{{response}}</p>
</div>
