<!-- <div class="places" *ngIf="places != null">
    <h3>Places</h3>
    <table class="w-100 places-table">
        <tr>
            <th>Title</th>
            <th>Address</th>
            <th>Location</th>
        </tr>
        <tr *ngFor="let place of places">
            <td>{{place.title}}</td>
            <td>{{place.address}}</td>
            <td>{{place.location}}</td>
        </tr>
    </table>
</div> -->

<div class="alert alert-secondary" role="alert">
    Places
     </div>
 <div class="container-fluid" *ngIf="places">
     <div class="row">
         <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 separator" *ngFor="let place of places">
            <div class="card w-100" style="width: 18rem;">
                <img src="{{place.thumbnail}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{place.title}}</h5>     
                    <p class="card-text">{{place.address}}</p>
                    <!-- <a routerLink="{{place.slug}}" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
         </div>
     </div>
 </div>