<!-- <div class="container-fluid separator">
        <div class="row">
                <div class="col-5">
                    <app-add-plan></app-add-plan>
                </div>
                <div class="col-12 separator">
                    <div class="row">
                        <div class="col-4" *ngFor="let plan of plans" >
                            <app-plan [plan]="plan"></app-plan>
                        </div>
                    </div>

                                

                </div>
        </div>
    </div>
    <div class="response  bg-danger" [ngClass]="{'response-active':responseActive}">
        <p *ngIf="response">{{response}}</p>
    </div> -->