<ul class="list-unstyled sidebar-list">
    <li><a routerLink="/admin" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="plans" routerLinkActive="active">Plans</a></li>
    <li><a routerLink="users" routerLinkActive="active">Users</a></li>
    <li><a routerLink="businesses" routerLinkActive="active">Businesses</a></li>
    <li><a routerLink="user-businesses" routerLinkActive="active">Users with Businesses</a></li>
    <li><a routerLink="business-types" routerLinkActive="active">Business Types</a></li>
    <li><a routerLink="modules" routerLinkActive="active">Modules</a></li>
    <li><a routerLink="event-types" routerLinkActive="active">Event Types</a></li>
</ul>
