<div class="card popup" [ngClass]="{'active':formActive}">
    <div class="card-header">Add Permissions</div>
    <div class="card-body">
        <form #addForm=ngForm (ngSubmit)="onSubmit()">
            <div class="form-check" *ngFor="let permission of allPermissions">
                <input class="form-check-input" type="checkbox" name="{{permission}}"
                    value="{{permission}}" id="{{permission}}"
                    [attr.checked]=" userPermissions.includes(permission) ? 'checked' : null"
                    (click)="checkPermission(permission)">
                <label class="form-check-label" for="{{permission}}">
                    {{permission}}
                </label>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="w-100">
                        <button type="submit" class="btn btn-primary mr-2" [disabled]="!addForm.valid">Add</button>
                        <a class="text-white btn btn-secondary" (click)="close()">Cancel</a>
                    </div>
                </div>
            </div> 
        </form>
    </div>
</div>
<div class="overlay" [ngClass]="{'active':formActive}" (click)="close()"></div>

<div class="response  bg-success" [ngClass]="{'response-active':responseActive}">
    <p *ngIf="response">{{response}}</p>
</div>