<div class="card popup" [ngClass]="{'active':formActive}">
    <div class="card-header">Add Event Types</div>
    <div class="card-body">
        <form #addForm=ngForm (ngSubmit)="onSubmit()">
            <div class="form-check" *ngFor="let eventType of allEventTypes">
                <input class="form-check-input" type="checkbox" name="{{eventType.id}}"
                    value="{{eventType.id}}" id="{{eventType.id}}"
                    [attr.checked]=" businessEventTypesId.includes(eventType.id) ? 'checked' : null"
                    (click)="checkEventType(eventType.id)">
                <label class="form-check-label" for="{{eventType.id}}">
                    {{eventType.title}}
                </label>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="w-100">
                        <button type="submit" class="btn btn-primary mr-2" [disabled]="!addForm.valid">Add</button>
                        <a class="text-white btn btn-secondary" (click)="close()">Cancel</a>
                    </div>
                </div>
            </div> 
        </form>
    </div>
</div>
<div class="overlay" [ngClass]="{'active':formActive}" (click)="close()"></div>

<div class="response  bg-success" [ngClass]="{'response-active':responseActive}">
    <p *ngIf="response">{{response}}</p>
</div>