<ul class="list-unstyled sidebar-list">
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="media"  routerLinkActive="active">Media</a></li>
    <li><a routerLink="infos" routerLinkActive="active">Infos</a></li>
    <li><a routerLink="places"  routerLinkActive="active">Places</a></li>
    <li><a routerLink="settings" routerLinkActive="active">Settings</a></li>
    <li><a routerLink="users" routerLinkActive="active">Users</a></li>
    <li><a routerLink="plans" routerLinkActive="active">Plans</a></li>
    <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="event-types" routerLinkActive="active">Event Types</a></li>
</ul>
